.non-selectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.icon-custome-menu {
    font-size: 3em;
    margin: .2em;
    cursor: pointer;
}

.icon-custome-menu:hover {
    color: slategrey;
}

.icon-custome-button {
    font-size: 2em;
    margin: .2em;
    cursor: pointer;
}

.content-table {
    overflow: auto;
}

.nowrap {
    white-space: nowrap;
}

.btn {
    /* width: 90%; */
    width: 100%;
}

/* CSS for loader */

.containerLoader {
    position: fixed;
    display: block;
    z-index: 1000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
}

.labelLoader {
    font-size: 2em;
    ;
    position: fixed;
    display: block;
    top: 70%;
    width: 100%;
    text-align: center;
}

.working {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 100vh;
}

.loader {
    max-width: 15rem;
    width: 100%;
    height: auto;
    stroke-linecap: round;
}

circle {
    fill: none;
    stroke-width: 4;
    -webkit-animation-name: preloader;
    animation-name: preloader;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform-origin: 170px 170px;
    transform-origin: 170px 170px;
    will-change: transform;
}

circle:nth-of-type(1) {
    stroke-dasharray: 55px;
}

circle:nth-of-type(2) {
    stroke-dasharray: 55px;
}

circle:nth-of-type(1) {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

circle:nth-of-type(2) {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
}

circle:nth-of-type(3) {
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
}

circle:nth-of-type(4) {
    -webkit-animation-delay: -8s;
    animation-delay: -8s;
}

@-webkit-keyframes preloader {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes preloader {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.oculto {
    visibility: hidden;
    width: 0 !important;
    height: 0 !important;
}

/* Buttons */

.btn-agregar {
    margin: .2em;
    color: #007bff;
}

.btn-editar {
    margin: .2em;
    color: #ffc107;
}

.btn-eliminar {
    margin: .2em;
    color: #dc3545;
}

.btn-tiempo {
    margin: .2em;
    color: #28a745;
}

#gestionFrmPlaneacion h5, #Modal-title-Planeacion {
    font-weight: bold;
}

.info-custome {
    color: teal;
    font-size: 2em;
    margin-right: .5em;
}

.error-custome {
    color: tomato;
    font-size: 2em;
    margin-right: .5em;
}

#ModalMsg {
    z-index: 1100;
}

.select2-selection {
    color: #495057 !important;
    border: 1px solid #ced4da !important;
    height: calc(1.6em + 0.75rem + 2px) !important;
}

.select2-selection__rendered {
    height: 100% !important;
    line-height: 35px !important;
    color: #495057 !important;
}

/* scroll */

.scroll-theme::-webkit-scrollbar {
    width: 2px;
    /* Tamaño del scroll en vertical */
    height: 2px;
    /* Tamaño del scroll en horizontal */
    display: auto;
    /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */

.scroll-theme::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */

.scroll-theme::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */

.scroll-theme::-webkit-scrollbar-thumb:active {
    background-color: var(--main-color);
}

.scroll-theme::-webkit-scrollbar-track {
    background: var(--color-background-main-card);
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */

.scroll-theme::-webkit-scrollbar-track:hover, .scroll-theme::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

/* end scroll */

.msg-alert {
    transition: all 1s ease-out;
}

.fadeOut {
    display: none !important;
}

.fadeIn {
    display: block;
}

.levelCardCustome {
    max-width: 100px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #495057;
    color: bisque;
    padding: 5px;
    justify-content: center;
}

input[type="checkbox"]{
    display: none;
}