@media (min-width: 1200px) {
    .modal-xlg {
        width: 90%;
    }
}

.choosed {
    background-color: dimgray;
    color: azure;
}

.choosed-font {
    color: darkcyan;
}

.Bien::before {
    color: yellowgreen;
    font-size: 1.5em;
    font-family: "Font Awesome 5 free";
    font-weight: 400;
    content: "\f058";
    justify-items: center;
}

.Mala::before {
    color: tomato;
    font-size: 1.5em;
    font-family: "Font Awesome 5 free";
    font-weight: 400;
    content: "\f057";
}

.Pregunta::before {
    color: dodgerblue;
    font-size: 1.5em;
    font-family: "Font Awesome 5 free";
    font-weight: 400;
    content: "\f059";
}

.unknow::before {
    color: slategray;
    font-size: 1.5em;
    font-family: "Font Awesome 5 free";
    font-weight: 400;
    content: "\f0c7";
}

.hand {
    cursor: pointer;
}

.hand:hover {
    opacity: .5;
}

.border-custome {
    border-radius: 10px;
    border-style: solid;
    border-color: slategrey;
    border-width: .5px;
}

/* first kind of checkbox */

.badgebox {
    opacity: 0;
}

.badgebox+.badge {
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
    width: 27px;
}

.badgebox:focus+.badge {
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked+.badge {
    /* Move the check mark back when checked */
    text-indent: 0;
}

/* second css for checkbox */

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
    float: right;
}

.switch input {}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input.default:checked+.slider {
    background-color: #444;
}

input.primary:checked+.slider {
    background-color: #2196F3;
}

input.success:checked+.slider {
    background-color: #8bc34a;
}

input.info:checked+.slider {
    background-color: #3de0f5;
}

input.warning:checked+.slider {
    background-color: #FFC107;
}

input.danger:checked+.slider {
    background-color: #f44336;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.alert-validate {
    color: tomato;
    font-size: .7em;
    margin: 0;
    padding: 0;
}

.alert-validate-input {
    border-color: tomato !important;
}

.li-custome {
    padding: .2rem !important;
    font-size: .7rem;
    text-align: center;
}

.ul-container {
    overflow: auto;
    max-height: 4rem;
    margin-bottom: 1rem;
}

/*CSS for Full Schedule*/

#ModalTPrincipal {
    padding-right: 0px !important;
}

.modal-body-full, .modal-body-fullVP {
    /* El valor anterior era 80vh */
    height: 60vh;
    overflow-y: auto;
}

.modal-dialog-full-width, .modal-dialog-full-widthVP {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
    direction: ltr;
    overflow-y: initial !important
}

.modal-content-full-width, .modal-content-full-widthVP {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
}

.modal-header-full-width {
    background-color: rgb(235, 237, 237);
    border-bottom: 1px solid !important;
}

.modal-footer-full-width, .modal-footer-full-widthVP {
    background-color: rgb(235, 237, 237);
    border-top: 1px solid !important;
}

.footerFichas {
    position: relative;
    height: 100%;
    padding-left: 0px;
}

.modal-footer-full-width .infoFichas {
    border-style: groove;
    height: 100%;
    padding-left: 0px;
    background-color: #a6bbd8;
    height: 130px;
    margin: 0px;
}

.modal-footer-full-width .noAcomodadas {
    border-style: groove;
    height: 100%;
    padding-left: 0px;
    height: 130px;
    margin: 0px;
    overflow-y: auto;
}

.columnas {
    table-layout: fixed;
}

.columnas th {
    padding: 0px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: x-small;
}

.horaReceso {
    border-right: solid 2px !important;
}

.redHoraReceso {
    border-right: solid red 3px !important;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 0.5px solid #adabab;
}

.columnas td {
    margin: 0px;
    padding: 0px;
    height: 25px;
    /*overflow: hidden;/*se activo*/
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px;
    position: relative;
}

.columnas td div {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: x-small;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
}

.recuadroFicha {
    margin: 10px 0px 0px 10px;
    width: 50px;
    height: 50px;
    font-size: smaller;
    padding: 15px 0px 0px 0px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    font-weight: bold;
}

.datosFicha p {
    margin: 0.5px;
    padding: 0px;
    font-size: 0.8vw;
}

.asignaturaFuera div {
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: bold;
    border: 1px solid;
}

#selectDiaTPrincipal, #selectHoraTPrincipal, #cambiarAulaTPrincipal {
    height: 30px;
    width: 100%;
}

.contextmenu-visible {
    display: inline-block;
}

#menuTPrincipal {
    border: 1px black solid;
}

#containerAsesor {
    overflow: auto;
    max-height: 50vh;
    margin-bottom: 1rem;
}

#containerAsesor li {
    font-size: 1em;
}

.msg-test {
    display: flex;
    flex-flow: row;
    flex-direction: row-reverse;
}

.msg-error i {
    color: tomato;
}

.msg-done i {
    color: #8bc34a;
}

#bodyTodoTPrincipal {
    text-transform: uppercase;
    text-shadow: 0 0 5px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.msg-box-Notify {
    font-weight: 500;
    font-size: 1.2em;
    color: darkgrey;
}